.THIS.backgroundInverse {
    background-color: #16325c;
    padding: 5px;
    margin: 0px 20px 0px 20px;
    font-size: 14px;
    border-radius: 6px;
}
.THIS .customPadding{
	padding: 4px !important;
}